<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="start">
      <img src="../images/r_icon.png" alt="">
      <div id="react-app"></div>
    </div>
  </body>
</html>
