$bg-color = #fff;
body
  margin: 0
  background-color: $bg-color

.start
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  flex-flow: column


  img
    border: 5px
    width: 300px


  h1
    font-size: 1.5em
    font-family: sans-serif
    color: #298aff
    text-align: center

